extends inc/layout

block head
  title #{siteName} | Профиль

block content

  .profile-info.mt-2
    .profile-wrapper.center-block
      img.profile-pic.circle(src=user.avatar)
      a.btn-floating.waves-effect.waves-orange(href="/lk/edit" style="background-color: "+theme.accent+";")
        i.material-icons edit
    h4.center-align.my-1= user.firstname + " " + user.lastname
    h6.center-align.mt-1 @
      = user.username
      | &nbsp;&middot; Посещённых концертов:&nbsp;
      = attended.size()

  h4 Купленные
  ul.collection.attended
    each concert in attended
      li.collection-item.avatar
        img.circle(src=concert.poster)
        span.title= concert.title
        p= concert.performer_name
        p.grey-text= concert.date
        span.secondary-content= concert.price


      //"https://pbs.twimg.com/media/D4tTgWTWkAMYCoU.png"